@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-primary-light: #34d399;
  --color-surface-50: #f9fafb;
  --color-surface-100: #f3f4f6;
}

body {
  background-color: #f9fafb;
  font-family: 'Inter', sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
}

/* PrimeVue Overrides to match theme */
.p-button {
    border-radius: 12px;
}